<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello! Django</title>
</head>
<body>
    <h1>About</h1>
    <p>2016年4月~ 広告代理店で広告プロモーション戦略等の立案、進行管理、制作、実施まで携わる。</p>
    <p>2019年12月~ ネクストリンクス中途入社</p>
    <p>2020年2月~ 現在に至るまで、XNET-AMOサービスの提供に従事している。</p>
    <p></p>
    <br><br/>
    <h3>Name</h3>
    <p>䉴城 玄太   / Minoshiro Genta</p>
    <h3>Like</h3>
    <p>サーフィン/映画/マンガ</p>
</body>
</html>